.DS_Store
assignments/assignment1/data/test_32x32.mat
assignments/assignment1/data/train_32x32.mat
assignments/assignment1/__pycache__/dataset.cpython-36.pyc
assignments/assignment1/__pycache__/knn.cpython-36.pyc
assignments/assignment1/__pycache__/metrics.cpython-36.pyc
